VICTORIA_IMX386DUALHYBIRD_LITEON=/odm/etc/camera/mmi7cm/MHA_imx286dual/
VICTORIA_IMX386DUALHYBIRD_SUNNY=/odm/etc/camera/mmi7cm/MHA_imx286dual/
VICTORIA_IMX386DUALHYBIRD_LG=/odm/etc/camera/mmi7cm/MHA_imx286dual/
VICTORIA_IMX486DUALHYBIRD_LITEON=/odm/etc/camera/mmi7cm/MHA_imx286dual/
VICTORIA_IMX486DUALHYBIRD_SUNNY=/odm/etc/camera/mmi7cm/MHA_imx286dual/
VICTORIA_IMX486DUALHYBIRD_LG=/odm/etc/camera/mmi7cm/MHA_imx286dual/