VICTORIA_IMX386DUALHYBIRD_LITEON=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX386DUALHYBIRD_SUNNY=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX386DUALHYBIRD_LG=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX486DUALHYBIRD_LITEON=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX486DUALHYBIRD_SUNNY=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX486DUALHYBIRD_LG=/odm/etc/camera/tornado/imx386dual/
VICTORIA_IMX219_VIC_SUNNY=/odm/etc/camera/tornado/imx219/
VICTORIA_IMX219_VIC_LITEON=/odm/etc/camera/tornado/imx219/
VICTORIA_IMX319_FOXCONN=/odm/etc/camera/tornado/imx319/
VICTORIA_IMX319_OFILM=/odm/etc/camera/tornado/imx319/
VICTORIA_IMX319_LITEON=/odm/etc/camera/tornado/imx319/
VICTORIA_IMX319_SUNNY=/odm/etc/camera/tornado/imx319/