VICTORIA_IMX386DUALHYBIRD_LITEON=/odm/etc/camera/bshutter/imx386/
VICTORIA_IMX386DUALHYBIRD_SUNNY=/odm/etc/camera/bshutter/imx386/
VICTORIA_IMX386DUALHYBIRD_LG=/odm/etc/camera/bshutter/imx386/
VICTORIA_IMX486DUALHYBIRD_LITEON=/odm/etc/camera/bshutter/imx386/
VICTORIA_IMX486DUALHYBIRD_SUNNY=/odm/etc/camera/bshutter/imx386/
VICTORIA_IMX486DUALHYBIRD_LG=/odm/etc/camera/bshutter/imx386/