VICTORIA_IMX386DUALHYBIRD_LITEON=/odm/etc/camera/opticalzoom/imx386dual/
VICTORIA_IMX386DUALHYBIRD_SUNNY=/odm/etc/camera/opticalzoom/imx386dual/
VICTORIA_IMX386DUALHYBIRD_LG=/odm/etc/camera/opticalzoom/imx386dual/
VICTORIA_IMX486DUALHYBIRD_LITEON=/odm/etc/camera/opticalzoom/imx386dual/
VICTORIA_IMX486DUALHYBIRD_SUNNY=/odm/etc/camera/opticalzoom/imx386dual/
VICTORIA_IMX486DUALHYBIRD_LG=/odm/etc/camera/opticalzoom/imx386dual/